<div class="main-link-list">
    <div class="main-link" routerLink="work">
        <img src="assets\töö.jpg" img class="work">
        <p>Tööde lehele</p>
    </div>
    <div class="main-link" routerLink="hobbies">
        <img src="assets\hobbies.jpg" img class="work">
        <p>Hobide lehele</p>
    </div>
    <div class="main-link" routerLink="courses">
        <img src="assets\udemy.jpg" img class="work">
        <p>Kursuste lehele</p>
    </div>
</div>
<div class="rectangle"></div>
<h1 class="main-text">Tere tulemast minu lehele!</h1>
<div>
    <a href="assets\sample.pdf" target="blank" >Vaata minu projekti</a><br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GVWVnV4tNdk" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div><br>

<div class="insta">
<a href="https://www.instagram.com/" target="blank">
    <img src="assets\instagram.png">
</a> 
</div>

