@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Sansita+Swashed&display=swap');

 * {
    font-family: 'Reggae One', cursive;
/* font-family: 'Sansita Swashed', cursive; */
}

.main-link-list {
    display: flex ;
    justify-content: space-evenly;
}

.main-link {
    color: rgb(66, 18, 18);
    background-color: white;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
}

/* .main-link-img { */
    /* width: 100px; */
    /* height: 100px; */
/* } */

/* .main-link p {
    font-family: 'Roboto';
} */

.work {
    width: 300px;
    height: 220px;
}

.main-link:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: grab;
    box-shadow: 0 8px 180px 100px;
    font-size: xx-large;    
}

.main-text {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    color: blue;
    font-style: oblique;
}

.rectangle {
    height: 7px;
    width: 60px;
    background-color: brown;
    margin: 50px auto;
}

.insta img{
    height: 30px;
    padding: 20px 10px;
}

.insta span {
    position: relative;
    top: -30px;
    height: 30px;
    color: white;
}

.insta:hover {
    color: bisque;
    cursor: pointer;
}